@model RealEstateApp.Models.Property

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Address)*@
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Address.Id)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertySize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertySize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroundSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroundSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfHalfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfHalfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfBuild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfBuild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comfort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comfort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHandicapped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHandicapped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAirConditionered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAirConditionered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
